
<h1>User's profile</h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Account type:</b>
  <%= @user.account_type %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> 
