<%  admin = session[:userid] && (  (type = User.find(session[:userid]).account_type)== User::BLOGGER || type == User::ADMIN ) %>

<section>
		<% @categories.each do |c|%>		
		

            <article class="post">
                <a href="<%= url_for(:action => 'listByCategory', :category_id => c.id)%>"><h1><%= c.name %></h1>
										<% if File.exists?(Rails.root.to_s + "/public/category_images/"+ c.id.to_s  )%>
										<img src="/category_images/<%= c.id%>" width="250" height="230"  alt=""/>
										<% end %>
										</a>


						<% c.last_posts.each do |p|%>	
               <p class="smallPost">
                   <%= simple_format p.description %>
                </p>
								 <p class="date"><span><%=p.created_at.strftime("%d.%m.%Y") %></span>  by: <%= p.user.username %><%= link_to "[Read more]", p  %>
									<%  if admin %>
    								<%= link_to '[Edit]', edit_post_path(p) %>
    								<%= link_to ']Destroy]', p, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
									<% end %>

								</p>
						<% end %>
					</article>

	<% end %>
 </section>
<%  if admin %>
<section>
<h1><%= link_to 'New Post', :controller => "posts" , :action => "new"  %></h1>
</section>

<% end %>	
